- name: 'Install zsh'
  become: yes
  apt:
    pkg:
      - zsh

- name: Setup user
  become: yes
  user:
    name: "{{ user }}"
    shell: /usr/bin/zsh
    createhome: yes
    comment: "{{ comment }}"
    groups: adm,sudo

- name: 'setup oh-my-zsh'
  become: yes
  git:
    repo: https://github.com/robbyrussell/oh-my-zsh.git
    dest: /home/{{ user }}/.oh-my-zsh

- name: 'set permissions of oh-my-zsh'
  become: yes
  file:
    path: '/home/{{ user }}/.oh-my-zsh'
    mode: 'go-w'
    recurse: yes
    owner: "{{ user }}"
    group: "{{ user }}"

- name: 'write .zshrc'
  become: yes
  template:
    src: zshrc.j2
    dest: '/home/{{ user }}/.zshrc'
    backup: yes
    mode: 'u=rw,go=r'
    owner: "{{ user }}"
    group: "{{ user }}"

- name: 'write .zshenv'
  become: yes
  template:
    src: zshenv.j2
    dest: '/home/{{ user }}/.zshenv'
    backup: yes
    mode: 'u=rw,go=r'
    owner: "{{ user }}"
    group: "{{ user }}"

- name: 'add user to microk8s group'
  become: yes
  command: 'usermod -a -G microk8s {{ user }}'

- name: 'add user to microk8s group'
  become: yes
  command: 'chown -f -R {{ user }} ~/.kube'

